<!DOCTYPE html>
<html>
  <head>
    <title>Tchatchat</title>
    <%= csrf_meta_tags %>

    <%=  stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
  </head>

  <body>
    <%= yield %>
  </body>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
    $(document).on( 'keypress', function(event) {
      console.log(event.keyCode);
    });

  </script>
</html>
